.speakerz{
    min-height: 100vh;
    width: 100vw;
    background-color: #000000;
    display: flex;
    flex-direction: column;
}
.profileHolder{
    padding: 1rem;
    /* background-color: tomato; */
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;    
    margin: 2rem auto;
}

.proCont{
    width:20rem;
    height: 24rem;
    /* background-color:turquoise; */
    margin: 0.5rem auto;
    display: inline-block;   
    
}
.hz{
    text-align: center;
    /* background-color: rgb(107, 59, 59); */
    color: rgb(255, 255, 255);
}




/* @media only screen and (max-width: 800px) {
    .profileHolder{
        
        flex-direction: column;   
    }
  }
@media only screen and (max-width: 500px) {
    .profileHolder{
        background-color: tomato;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        height: 100%;    
    }
    .hz{
        font-size: 2.6rem;
    }
    .proCont{
        margin-left: 4rem;
    }
  } */
@media only screen and (max-width: 400px) {
    .speakerz{
        
    }
    .hz{
        font-size: 2.6rem;
    }
    .proCont{
        width:16rem;
        height: 24rem;
        /* background-color:turquoise; */
        margin: 0.5rem auto;
        display: inline-block;   
        
    }
    
  }
@media only screen and (max-width: 300px) {
    .speakerz{
        
    }
    .hz{
        font-size: 2.6rem;
    }
    .proCont{
        /* margin-left: 2rem; */
        /* margin: 1rem; */
    }
  }