@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display&display=swap');
*{
    margin: 0%;
    padding: 0%;
}
.container789{
    background-image: linear-gradient(rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.73)),
    url("https://images.unsplash.com/photo-1520034475321-cbe63696469a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-position: center;
    background-size: cover;
    height: 100%;
}
.team_container{
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 20px;
    grid-row-gap: 50px;
    width: 80vw;
    margin:0 auto ;

    
}
.team_card{
    
    height: 30rem;
    width: 20rem;
   
}
.card_img{
    margin: 20px;
    height: 22rem;
    background-color: blueviolet;
    border-radius:35px 95px ;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    
}

.solinks{
    width: 100px;
    overflow: hidden;
    height: 150px;
    z-index: 2;
    position: relative;   
}
.solinks ul li i{
    font-size: 2rem;
    margin-top: 20px;
}
.details{
    display: none;
    overflow: hidden;
    background: rgba(17, 17, 17, 0.6);
    height: 100%;
    width: 100%;
}
.team_card:hover .details{
    display: block;
}
.names{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.name1,.posi1{
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 2rem;
    color: silver;
}
.headingteam{
    text-align: center;
    margin-bottom: 40px;
    font-size: 4rem;
    color: white;
}

@media screen and (max-width:400px) {
    
    .team_container{
        display: flex;
        flex-direction: column;
    }
    .card_img{
        height: 18rem ;
        
    }
    .team_card{
        width: 17rem;
    }
    .name1,.posi1{
        font-size: 1rem;
    }
}