*{
    margin: 0;
    padding-bottom: 0;
    box-sizing: border-box;
}


.box{
    position:fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 100;
    width: 80px;
    height: 80px;
    transform-style: preserve-3d;
    transform:rotateX(-30deg) rotateY(240deg);
    animation: animate 8s linear infinite;
    border-radius: 1rem;
}

@keyframes animate{
    0%{
        transform: rotateX(-30deg) rotateY(360deg);
    }
    100%{
        transform: rotateX(-30deg) rotateY(0deg);
    }
}
.box::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    background: rgb(163, 153, 153);
    transform: rotateX(90deg) translateZ(-80px);

}

.innerBox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;

}

.innerBoxSpan{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    /* background-color: #333; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.innerBoxSpan:nth-child(1){
    transform: rotateY(0deg) translate3d(0,0,40px);
    background-color: rgba(247, 243, 241, 0.856);
}
.innerBoxSpan:nth-child(1)::before{
    content : '';
    position:absolute;
    width: 60px;
    height: 60px;
    background:url('./shiv2.jpg');
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: center;
}
.innerBoxSpan:nth-child(2){
    transform: rotateY(90deg) translate3d(0,0,40px);
    background-color: rgb(42, 82, 164, 0.86);
}
.innerBoxSpan:nth-child(2)::before{
    content : '';
    position:absolute;
    width: 60px;
    height: 60px;
    background:url('./shiv2.jpg');
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: center;
}
.innerBoxSpan:nth-child(3){
    transform: rotateY(180deg) translate3d(0,0,40px);
    background-color: rgba(247, 243, 241, 0.856);
}
.innerBoxSpan:nth-child(3)::before{
    content : '';
    position:absolute;
    width: 60px;
    height: 60px;
    background:url('./shiv.jpg');
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: center;
}
.innerBoxSpan:nth-child(4){
    background-color: rgba(12, 44, 223, 0.856);
    transform: rotateY(270deg) translate3d(0,0,40px);
    background-color: rgba(42, 82, 164, 0.86);
}
.innerBoxSpan:nth-child(4)::before{
    content : '';
    position:absolute;
    width: 60px;
    height: 60px;
    background:url('./shiv.jpg');
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: center;
}

.top{
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    /* background: #e8bb84 ; */
    transform: rotateX(90deg) translate3d(0,0,40px);
    background-color: rgba(19, 49, 109, 0.86);
}
.top::before{
    content : '';
    position:absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    background:url('./shiv.jpg');
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: center;
}


@media (max-width:603px) {
    
} 
