
  *{
    margin: 0%;
    padding: 0%;
  }
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.btn-container{ 
  background-color: #030303;

background-repeat: no-repeat; 
background-size: cover;  
background-position: center; 
height: 130vh; 
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
padding-bottom: 2rem;

}

.card{ 
 height: 55vh;
  width: 95vh;
  text-align: center; 
  margin: 10vh auto; 


  
        float:none; 
        border-radius: 10px;
        box-shadow: 0 6px 10px rgba(69, 215, 252, 0.08), 0 0 6px rgba(73, 213, 248, 0.05);
        transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
     
      cursor: pointer;
        
} 

.card-text{ 
  color: white;
  font-size: 1.4rem;
  padding: 0.1rem 0.9rem ;
  font-family: 'Roboto', sans-serif;
}
.submit-btn { 
  display: flex;
  justify-content: center;
  width: 20%; 
 position: relative;
  
   margin-left: auto; 
   margin-right: auto;
 
 
}

.submit-btn-text {
  display: flex;
  justify-content: center;
  align-items: center; 
  
} 

.card-img{ 
 height: 55vh; 
 width: 95vh; 
filter: brightness(80%); 
border-radius: 10px;
} 

.card:hover{ 
 
    transform: scale(1.05);
    box-shadow: 5px 5px 10px 1px rgb(98, 221, 252)!important;

} 

@media screen and (max-width: 500px) {
  .btn-container{
    height: 100vh;
  }
  .card {
    width: 100%;
    margin: 10% auto;
  }

  
 .submit-btn {
    width: 70% !important;
    margin: 0 auto; 
    margin-top: 15vh; 
    
  }

  .submit-btn-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:small;
    color: black;
  }
}



