.RightSection {
    width: 30%;
    color: grey;
    font-size: 1.2rem;
    border-radius: 1rem;
}

.individual {
    width: 95%;
    margin: auto;
}

.indi {
    width: 100%;
    display: flex;
    align-items: center;
    /* margin:0.3rem; */
}


.margin {
    margin: 1rem;
    height: 1.6rem;
    width: 3rem;
    color: grey;
}

.marginb {
    color: grey;
    height: 1.6rem;
    width: 3rem;
}

.marginb:hover {
    color: white;
    height: 2rem;
    width: 3rem;
}

.marginb:hover {
    color: grey;
    height: 2rem;
    width: 3rem;
    transform: rotate(0deg) skew(0deg) translate(0, -5px);
}

.socialMedia {
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.socialMediaUl {
    display: flex;
    flex-direction: row;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    width: 100%;
    height: 60%;
    align-items: center;
    padding-left: 0;
    justify-content: space-around;
    /* margin:auto; */
}

.socialMediaUl li {
    list-style: none;
    height: 3rem;
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
}

.socialMediaUl li a {
    height: 2rem;
    cursor: pointer;
    color: #FFF;
}

.socialMediaUl li a:hover {
    border-radius: 10px;
}

.marginb:hover {
    
    color: grey;
    height: 2rem;
    width: 3rem;
    transform: rotate(0deg) skew(0deg) translate(0, -5px);
}

@media only screen and (max-width:900px) {
    .RightSection {
        min-width: 20rem;
        padding: 1rem;
        margin-bottom: 2rem;
    }
    .individual {
        width: 100%;
    }
    .indi span {
        font-size: 0.8rem;
    }
    .margin {
        margin: 0.5rem;
    }
    .socialMedia {
        /* width: 20rem; */
    }
}

@media only screen and (max-width:500px) {
    .RightSection {
    }
    .indi span{
        font-size: 1rem;
    }
}

@media only screen and (max-width:330px) {
    .RightSection {
        /* max-width: 20rem; */
        min-width: 17rem;
        padding: 1rem;
    }
    .indi span {
        font-size: 0.7rem;
    }
    .individual {
        width: 100%;
        /* border: 1px solid grey; */
        margin: auto;
    }
}